:root {
  color-scheme: light dark;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

button {
  position: relative;
}

input {
  vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

textarea {
  tab-size: 4;
  white-space: pre;
  word-wrap: normal;
}

textarea.success {
  border-color: #8b8 !important;
}

textarea.fail {
  border-color: #f00 !important;
  background-color: rgba(255, 0, 0, 0.05);
}

textarea,
input {
  outline: none;
}

/* osx */

.Panel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
}

#leftbar {
  position: absolute;
  top: 32px;
  left: 0;
  width: 200px;
  height: calc(100vh - 32px);
  overflow: auto;
  background: #eee;
}

#leftbar .Category-widget {
  /* width: calc(100% + 20px); */
  /* height: calc(100% - 21px); */
  display: block;
  color: #888;
  padding: 10px;
}

#leftbar .Category-widget .Category-item {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  margin: 4px;
  padding: 0px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  color: #1b1b1b;
}

#leftbar .Category-widget .Category-item div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: rgb(4, 20, 34);
}

.TabbedPanel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  width: 100%;
  min-width: 195px;
}

.TabbedPanel .Tabs {
  position: relative;
  display: block;
  width: 100%;
}

.TabbedPanel .Tabs .Tab {
  padding: 10px;
  text-transform: uppercase;
}

.TabbedPanel .Panels {
  position: relative;
  display: block;
  width: 100%;
}

/* Listbox */
.Listbox {
  color: #444;
  background-color: #fff;
  padding: 0;
  width: 100%;
  min-height: 140px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
}

.Listbox .ListboxItem {
  padding: 6px;
  color: #666;
  white-space: nowrap;
}

.Listbox .ListboxItem.active {
  background-color: rgba(0, 0, 0, 0.04);
}

/* CodeMirror */

.CodeMirror {
  position: absolute !important;
  top: 37px;
  width: 100% !important;
  height: calc(100% - 37px) !important;
}

.CodeMirror .errorLine {
  background: rgba(255, 0, 0, 0.25);
}

.CodeMirror .esprima-error {
  color: #f00;
  text-align: right;
  padding: 0 20px;
}

/* outliner */

#outliner .opener {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 4px;
  vertical-align: top;
  text-align: center;
}

#outliner .opener.open:after {
  content: "−";
}

#outliner .opener.closed:after {
  content: "+";
}

#outliner .option {
  border: 1px solid transparent;
}

#outliner .option.drag {
  border: 1px dashed #999;
}

#outliner .option.dragTop {
  border-top: 1px dashed #999;
}

#outliner .option.dragBottom {
  border-bottom: 1px dashed #999;
}

#outliner .type {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #ddd;
  text-align: center;
}

#outliner .type:after {
  content: "●";
}

/* */

#outliner .Scene {
  color: #8888dd;
}

#outliner .Camera {
  color: #dd8888;
}

#outliner .Light {
  color: #dddd88;
}

/* */

#outliner .Object3D {
  color: #aaaaee;
}

#outliner .Mesh {
  color: #8888ee;
}

#outliner .Line {
  color: #88ee88;
}

#outliner .LineSegments {
  color: #88ee88;
}

#outliner .Points {
  color: #ee8888;
}

/* */

#outliner .Geometry {
  color: #aaeeaa;
}

#outliner .Material {
  color: #eeaaee;
}

/* */

#outliner .Script:after {
  content: "◎";
}

/*  */

button {
  color: #555;
  background-color: #ddd;
  border: 0px;
  margin: 0px;
  /* GNOME Web */
  padding: 5px 8px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fff;
}

button.selected {
  background-color: #fff;
}

input,
textarea {
  border: 1px solid transparent;
  color: #444;
}

input.Number {
  color: #08f !important;
  font-size: 12px;
  border: 0px;
  padding: 2px;
}

select {
  color: #666;
  background-color: #ddd;
  border: 0px;
  /* text-transform: uppercase; */
  cursor: pointer;
  outline: none;
}

select:hover {
  background-color: #fff;
}

/* UI */

#leftbar-resizer {
  position: absolute;
  top: 32px;
  left: 200px;
  width: 5px;
  bottom: 0px;
  cursor: col-resize;
}

#resizer {
  position: absolute;
  top: 32px;
  right: 290px;
  width: 5px;
  bottom: 0px;
  /* background-color: rgba(255,0,0,0.5); */
  cursor: col-resize;
}

#viewport {
  position: absolute;
  top: 32px;
  left: 195px;
  right: 290px;
  bottom: 0;
}

#viewport #info {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

#script {
  position: absolute;
  top: 32px;
  left: 0;
  right: 300px;
  bottom: 0;
  opacity: 0.9;
}

#player {
  position: absolute;
  top: 32px;
  left: 260px;
  right: 300px;
  bottom: 0;
}

#menubar {
  position: absolute;
  width: 100%;
  height: 32px;
  background: #eee;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

#menubar .menu {
  float: left;
  cursor: pointer;
  padding-right: 8px;
}

#menubar .menu.right {
  float: right;
  cursor: auto;
  padding-right: 0;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#menubar .menu .title {
  display: inline-block;
  color: #888;
  margin: 0;
  padding: 8px;
  line-height: 16px;
}

#menubar .menu .options {
  position: fixed;
  display: none;
  padding: 5px 0;
  background: #eee;
  width: 150px;
  max-height: calc(100% - 80px);
  overflow: auto;
}

#menubar .menu:hover .options {
  display: block;
}

#menubar .menu .options hr {
  border-color: #ddd;
}

#menubar .menu .options .option {
  color: #666;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 !important;
}

#menubar .menu .options .option:hover {
  color: #fff;
  background-color: #08f;
}

#menubar .menu .options .option.toggle-on::before {
  content: "✔";
  font-size: 12px;
}

#menubar .menu .options .option:active {
  color: #666;
  background: transparent;
}

#menubar .menu .options .inactive {
  color: #bbb;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 !important;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 32px;
  bottom: 0;
  width: 290px;
  background: #eee;
  overflow: auto;
}

#sidebar .Panel {
  color: #888;
  padding: 10px;
}

#sidebar .Panel .Divider {
  color: #888;
  padding: 10px;
  border-top: 1px solid #ccc;
  width: 90%;
}

#sidebar .Panel.collapsed {
  margin-bottom: 0;
}

#sidebar .Row {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-bottom: 10px;
}

#tabs {
  background-color: #ddd;
  border-top: 1px solid #ccc;
}

#tabs span {
  color: #aaa;
  border-right: 1px solid #ccc;
  padding: 10px;
}

#tabs span.selected {
  color: #888;
  background-color: #eee;
}

div#Scene-tool.Row{
  min-height: 0;
  margin-bottom: 0;
}
button#Scene-tool-clrWorld.Button {
  left: 165px;
  position: absolute;
  margin-left: 10px;
  margin-bottom: 0;
}

span.grid_Space{
  padding: 4px;
  text-align: right;
  font-size: 13px;
  margin-left: 28px;
}

#toolbar {
  position: absolute;
  left: 200px;
  top: 42px;
  height: 32px;
  background: #eee;
  text-align: center;
  z-index: 2;
}

#toolbar button,
#toolbar input {
  height: 32px;
}

#toolbar button img {
  width: 16px;
  opacity: 0.5;
}

.Outliner {
  color: #444;
  background-color: #fff;
  padding: 0;
  width: 100%;
  height: 140px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  resize: vertical;
  outline: none !important;
}

.Outliner .option {
  padding: 4px;
  color: #666;
  white-space: nowrap;
}

.Outliner .option:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.Outliner .option.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.TabbedPanel .Tabs {
  background-color: #ddd;
  border-top: 1px solid #ccc;
}

.TabbedPanel .Tab {
  color: #aaa;
  border-right: 1px solid #ccc;
}

.TabbedPanel .Tab.selected {
  color: #888;
  background-color: #eee;
}

.Listbox {
  color: #444;
  background-color: #fff;
}

.Panel {
  color: #888;
}

.overlayModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(30, 30, 30, 0.9);
  padding: 16px;
}

.loginModalContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.2);
  border-radius: 16px;
  max-width: 385px;
  padding: 48px;
  box-shadow: 0 16px 128px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.displayLogin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

.displayForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  width: 100%;
}

.rowfull {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.loginFormInput {
  border-radius: 12px !important;
  border: 1.5px solid #e7e7e9 !important;
  padding: 10px 20px !important;
  width: 100%;
  font-size: 14px;
}

.loginFormInputPIN {
  border-radius: 12px !important;
  border: 1.5px solid #e7e7e9 !important;
  padding: 10px 10px !important;
  font-size: 24px;
  text-align: center;
}

.pincontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.pinInputcontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fullwidth {
  width: 100%;
}

.inlinesizeFit {
  inline-size: fit-content;
}

.loginformButton {
  border-radius: 8px;
  border: 1px solid #e7e7e9;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: initial;
}

.loginformButton:not(:disabled):hover {
  border: 1px solid #888;
}

.loginformButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.registercontainer {
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.signButton {
  border-radius: 8px;
  margin: 4px;
  margin-right: 15px;
}

.closeLoginForm {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeLoginForm:hover {
  background-color: #f00;
}

.rememberbox {
  display: flex;
  align-items: center;
  justify-content: start;
}

/* */

@media all and (max-width: 600px) {
  #resizer {
    display: none;
  }

  #menubar .menu .options {
    max-height: calc(100% - 372px);
  }

  #menubar .menu.right {
    display: none;
  }

  #viewport {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #script {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #player {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #sidebar {
    left: 0;
    width: 100%;
    top: calc(100% - 320px);
    bottom: 0;
  }

  .loginModalContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 32px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.2);
    border-radius: 16px;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  button {
    color: #aaa;
    background-color: #222;
  }

  button:hover {
    color: #ccc;
    background-color: #444;
  }

  button.selected {
    color: #fff;
    background-color: #08f;
  }

  input,
  textarea {
    background-color: #222;
    border: 1px solid transparent;
    color: #888;
  }

  select {
    color: #aaa;
    background-color: #222;
  }

  select:hover {
    color: #ccc;
    background-color: #444;
  }

  /* UI */

  #menubar {
    background: #111;
  }

  #menubar .menu .options {
    background: #111;
  }

  #menubar .menu .options hr {
    border-color: #222;
  }

  #menubar .menu .options .option {
    color: #888;
  }

  #menubar .menu .options .inactive {
    color: #444;
  }

  #leftbar {
    background: #111;
  }
  #leftbar .Category-widget {
    border-top: 1px solid #111;
  }

  #sidebar {
    background-color: #111;
  }


  #sidebar .Panel.Material canvas {
    border: solid 1px #5a5a5a;
  }

  #tabs {
    background-color: #1b1b1b;
    border-top: 1px solid #222;
  }

  #tabs span {
    color: #555;
    border-right: 1px solid #222;
  }

  #tabs span.selected {
    background-color: #111;
  }

  #toolbar {
    background-color: #111;
  }

  #toolbar img {
    filter: invert(1);
  }

  .Outliner {
    color: #888;
    background: #222;
  }

  .Outliner .option:hover {
    background-color: rgba(21, 60, 94, 0.5);
  }

  .Outliner .option.active {
    background-color: rgba(21, 60, 94, 1);
  }

  .TabbedPanel .Tabs {
    background-color: #1b1b1b;
    border-top: 1px solid #222;
  }

  .TabbedPanel .Tab {
    color: #555;
    border-right: 1px solid #222;
  }

  .TabbedPanel .Tab.selected {
    color: #888;
    background-color: #111;
  }

  .Listbox {
    color: #888;
    background: #222;
  }

  .Listbox .ListboxItem:hover {
    background-color: rgba(21, 60, 94, 0.5);
  }

  .Listbox .ListboxItem.active {
    background-color: rgba(21, 60, 94, 1);
  }
}

/* Temporary Chrome fix (#24794) */

[draggable="true"] {
  transform: translate(0, 0);
  z-index: 0;
}

body {
  background-color: rgb(0, 0, 0);

  /* HERE */
  overflow-y: auto; /* Add vertical scroll if content exceeds the height */
  overflow-x: auto; /* Enable horizontal scrolling */
}

h1 {
  /* HERE */
  font-size: 2.2rem;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.728);
  letter-spacing: 2px;
  text-shadow: 0 0 25px rgb(255, 255, 255);
}

/* Creating the table from the divs within the periodic table class, repeating columns until there are 18
   also repeating rows until there are 10*/
.periodicTable {
  display: grid;
  position: fixed;
  padding: 50px;
  background-color: #030303bb;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(18, auto);
  grid-template-rows: repeat(10, auto);
  column-gap: 1px;
  row-gap: 1px;
  justify-content: center;
  margin-top: 2rem;

  max-width: 100%;
  height: auto;
}

/* Grouping all of the elemental classes into one declaration so as not to have to do it for each one individually.
    I added min and max widths based on the viewport to keep the blocks looking relatively symmetrical*/
.nobleGas,
.lanthanide,
.nonMetal,
.alkaliMetal,
.alkalineEarthMetal,
.metalloid,
.halogen,
.transitionMetal,
.postTransitionMetal,
.actinide {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  margin: 1px;
  width: 60px;
  max-width: 65px;
  min-width: 55px;
  height: auto;
}

/* Changing the colour of each of the elemental classes */

.nonMetal {
  background-color: black;
  color: rgb(251, 251, 137);
  border-color: rgb(251, 251, 137);
  transition: 0.2s;
}

.nonMetal:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(251, 251, 137) 0%,
    rgb(238, 238, 238) 50%,
    rgb(251, 251, 137) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.nobleGas {
  color: rgb(255, 162, 126);
  border-color: rgb(255, 162, 126);
  background-color: black;
  transition: 0.2s;
}

.nobleGas:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 162, 126) 0%,
    rgb(238, 238, 238) 50%,
    rgb(255, 162, 126) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.alkaliMetal {
  color: rgb(204, 95, 95);
  border-color: rgb(204, 95, 95);
  background-color: black;
  transition: 0.2s;
}
.alkaliMetal:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(204, 95, 95) 0%,
    rgb(238, 238, 238) 50%,
    rgb(204, 95, 95) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.alkalineEarthMetal {
  color: rgb(141, 41, 235);
  background-color: black;
  border-color: rgb(141, 41, 235);
  transition: 0.2s;
}

.alkalineEarthMetal:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(141, 41, 235) 0%,
    rgb(238, 238, 238) 50%,
    rgb(141, 41, 235) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.metalloid {
  color: rgb(49, 169, 49);
  background-color: black;
  border-color: rgb(49, 169, 49);
  transition: 0.2s;
}
.metalloid:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(49, 169, 49) 0%,
    rgb(238, 238, 238) 50%,
    rgb(49, 169, 49) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.postTransitionMetal {
  color: rgb(161, 251, 27);
  border-color: rgb(161, 251, 27);
  background-color: black;
  transition: 0.2s;
}
.postTransitionMetal:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(161, 251, 27) 0%,
    rgb(238, 238, 238) 50%,
    rgb(161, 251, 27) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.halogen {
  color: rgb(218, 255, 54);
  background-color: black;
  border-color: rgb(218, 255, 54);
  transition: 0.2s;
}
.halogen:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(218, 255, 54) 0%,
    rgb(238, 238, 238) 50%,
    rgb(218, 255, 54) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.transitionMetal {
  color: rgb(71, 203, 247);
  background-color: black;
  border-color: rgb(71, 203, 247);
  transition: 0.2s;
}
.transitionMetal:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(71, 203, 247) 0%,
    rgb(238, 238, 238) 50%,
    rgb(71, 203, 247) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.lanthanide {
  color: rgb(82, 82, 236);
  background-color: black;
  border-color: rgb(82, 82, 236);
  transition: 0.2s;
}

.lanthanide:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(82, 82, 236) 0%,
    rgb(238, 238, 238) 50%,
    rgb(82, 82, 236) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.actinide {
  color: rgb(244, 171, 60);
  border-color: rgb(244, 171, 60);
  background-color: black;
  transition: 0.2s;
}

.actinide:hover {
  color: black;
  background-image: linear-gradient(
    to bottom right,
    rgb(244, 171, 60) 0%,
    rgb(238, 238, 238) 50%,
    rgb(244, 171, 60) 100%
  );
  transform: scale(1.25);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

/* Formatting the element number value */
.elementNumber {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  font-weight: bold;
  padding-top: 2px;
  padding-left: 4px;
}

/* Formatting the element symbol - making the text relative to the screen width, so it stays large enough to read but doesnt distort the blocks */
.elementSymbol {
  font-family: "Comfortaa", cursive, "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 2px;
}

/* Formatting the element name */
.elementName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.55rem;
  letter-spacing: 0.2px;
  padding-bottom: 3px;
  padding-left: 1px;
  font-weight: 100;
  overflow: hidden;
}

/* adding the blank space on the top row of the table using a blank div */
.blankRow1 {
  grid-column: 2 / span 16;
  grid-row: 1;
}

/* adding the blank space on the second row of the table using a blank div */
.blankRow2 {
  grid-column: 3 / span 10;
  grid-row: 2 / span 2;
}

/* adding the blank space in the 3rd column, spanning 6th and 7th rows using a blank div */
.blankRow3 {
  grid-column: 3;
  grid-row: 6 / span 2;
}

/* adding the blank row in row 8 of the table to give the space between row 7 and 9 */
.blankRow4 {
  grid-column: 1 / span 18;
  grid-row: 8;
  margin: 6px;
}

/* Adding the space at the bottom left of the table */
.blankRow5 {
  grid-column: 1 / span 3;
  grid-row: 9 / span 2;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(254, 39, 20);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  body {
    margin: 0;
    min-width: 340px;
  }

  .periodicTable {
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 0;
  }

  .nobleGas,
  .lanthanide,
  .nonMetal,
  .alkaliMetal,
  .alkalineEarthMetal,
  .metalloid,
  .halogen,
  .transitionMetal,
  .postTransitionMetal,
  .actinide {
    width: 100%;
    max-width: none;
    min-width: none;
    min-height: 50px;
    margin-bottom: 10px;
  }

  .nobleGas:hover,
  .lanthanide:hover,
  .nonMetal:hover,
  .alkaliMetal:hover,
  .alkalineEarthMetal:hover,
  .metalloid:hover,
  .halogen:hover,
  .transitionMetal:hover,
  .postTransitionMetal:hover,
  .actinide:hover {
    transform: scale(1.01);
    border: 2px solid rgba(255, 255, 255, 0);
  }

  .blankRow1,
  .blankRow2,
  .blankRow3,
  .blankRow4,
  .blankRow5 {
    display: none;
  }

  .elementTile {
    display: flex;
    align-items: center;
  }
  .elementNumber {
    width: 10%;
    text-align: center;
    font-size: 1.2rem;
  }

  .elementSymbol {
    width: 10%;
    text-align: center;
    font-size: 1.8rem;
  }

  .elementName {
    width: 70%;
    padding-left: 5%;
    font-size: 1.3rem;
    transform: translateY(15%);
    letter-spacing: 2px;
  }
}
